html, body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1F1F32;
  overflow-x: hidden;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1F1F32;
}

.card {
  display: flex;
  width: 1000px;
  height: 600px;
  border-radius: 32px;
  overflow: hidden;
  background: none;

}

.card-esquerdo {
  flex: 1;
  background: #BDC5D5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 42px 28px;
}

.elipse-logo {
  width: 140px;
  height: 140px;
  background: rgba(31, 31, 50, 0.82);
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 86px;
  height: 86px;
}

.lume {
  font-size: 2.2rem;
  font-weight: 700;
  color: #222238;
  margin-bottom: 8px;
}

.bem-vindo {
  font-family: 'Arial Rounded MT', sans-serif;
  font-size: 1.18rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 9px;
  color: #222238;
}

.texto-inicial {
  font-family: 'Arial Rounded MT', sans-serif;
  font-size: 0.97rem;
  color: #444457;
  text-align: center;
  line-height: 1.3;
  max-width: 360px;
  margin-top: 10px;
}

.texto {
  font-size: 1.1rem;
  color: #dce2ec;
  text-align: center;
  line-height: 1.3;
  max-width: 360px;
  margin-top: 10px;
  margin-bottom: 20px;
} 

.card-direito {
  flex: 1;
  background: #3F3F50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 30px;
  position: relative;
}

.voltar {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.95rem;
  color: #FFFFFF;
  position: absolute;
  top: 22px;
  left: 28px;
  text-decoration: none;
  transition: color 0.2s;
}
.voltar:hover {
  color: #FDC700;
}

.conteudo-card-direito {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.link-recuperacao {
  font-size: 2.15rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.email {
  color: #FDC700;
  font-weight: 600;
  font-size: 1.13rem;
}

.link-reenviar {
  color: #FDC700;
  font-weight: 500;
  cursor: pointer;
}
.link-reenviar:hover {
  text-decoration: underline;
}

/* TABLET */
@media (min-width: 800px) and (max-width: 1200px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 420px;
    max-width: 90vw;
    height: 500px;
    border-radius: 12px;
    background: #3F3F50;
    box-shadow: 0 8px 24px rgba(20, 20, 40, 0.18);
    padding: 110px 45px 110px 45px;
    margin: auto;
    position: relative;
  }

  .card-esquerdo {
    display: none;
  }

  .elipse-logo {
    width: 130px;
    height: 130px;
    background: rgba(189, 197, 213, 0.58);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 24px auto;
  }

  .logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  .lume {
    font-family: 'Arial Rounded MT', sans-serif;
    display: block;
    font-size: 1.83rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
  }

  .bem-vindo {
    font-family: 'Arial Rounded MT', sans-serif;
    font-size: 1.18rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 9px;
    color: #222238;
  }

  .link-recuperacao {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
  }

  .card-direito {
    flex: none;
    width: 100%;
    background: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
  }

  .voltar {
    font-size: 0.95rem;
    color: #FFFFFF;
    position: absolute;
    top: 22px;
    left: 28px;
    text-decoration: none;
    transition: color 0.2s;
  }
  .voltar:hover {
    color: #FDC700;
  }
}



/* MOBILE */
@media (max-width: 799px) {
  .card {
    width: 95vw;
    height: auto;
    max-width: 430px;
    border-radius: 24px;
    flex-direction: column;
    padding: 14px 5px;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    position: relative;
  }

  .card-esquerdo {
    display: none;
  }

  .elipse-logo {
    width: 140px;
    height: 140px;
    background: rgba(189, 197, 213, 0.46);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 18px auto;
  }

  .logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }

  .link-recuperacao {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
  }

  .lume {
    font-family: 'Arial Rounded MT', sans-serif;
    display: block;
    font-size: 2.15rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 13px;
    margin-top: 2px;
  }

  .card-direito {
    width: 100%;
    background: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .voltar {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.95rem;
    color: #FFFFFF;
    position: fixed;
    top: 22px;
    left: 28px;
    text-decoration: none;
    transition: color 0.2s;
  }

  .voltar:hover {
    color: #FDC700;
  }
}