@import './EsqueciSenha.css';

.form-message {
  font-size: 0.95rem;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.form-message.error {
  color: #FDC700;
  background: #00000020;
}

.form-message.success {
  color: #c9cfde;
  background: #00000020;
}

.botao-enviar-link {
  background: #e5e6e8;
  color: #222238;
  border: none;
  border-radius: 7px;
  padding: 12px 0;
  font-size: 1.07rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
  text-align: center;
  display: block;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.botao-enviar-link:hover {
  background: #FDC700;
  color: #222238;
}